@mixin transition($sec) {
    transition: all $sec;
}

@mixin bgImage($height, $url) {
    height: $height;
    width: 100%;
    background: linear-gradient(to right, rgba($primaryColor, 0.9), rgba($primaryColor, 0.3)), url($url);
    background-position: center;
    background-size: cover;
}